<center>
<body>
  <%= "#{@game.current_turn.name} attacks #{@game.opponent.name}!" %> <br>
  <%= @game.opponent.name %>: <%= @game.opponent.hp %>HP
</body>

<form action="/switch_turns">
  <input type="submit" value="Switch turns">
</form>

<center>
